.main {
  width: 100%;
  display: flex;
  padding-bottom: 30px;
  .img {
    width: 300px;
    border: 1px solid #ccc;
    img {
      width: 100%;
    }
  }
  .info {
    flex: 1;
    margin-left: 20px;
    p {
      border-bottom: 1px solid #ccc;
      padding: 5px;
    }
  }
}
